<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpTest.Net.RpcLibrary" version="2.12.810.409" targetFramework="net45" />
  <package id="DTF-Unofficial" version="3.6.2928" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="ngit2" version="2.1.0.20130924" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="3.0.1.0" targetFramework="net45" />
</packages>